<div class="container text-center" style="width: 21%">

  <div class="card" style="background-color: #ced4da">
    <h1 class="card-header">Zapomniane hasło</h1>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-label">
      <%= f.label :Podaj_swój_email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      <i>Na podany email otrzymasz pomoc dotyczącą odzyskania hasła</i><br />
    </div>
    <br/>
    <div class="actions">
      <%= f.submit "Zatwierdź", class: "btn btn-primary" %>
    </div>
  <% end %>
    </div>
  </div>
  <br/>
  <%= render "devise/shared/links" %>
</div>