<div id="<%= dom_id dane_usera %>">

<%#
<p><strong>Pompki dzis:</strong>
     <%= dane_usera.pompki_dzis %>
     <%# </p> %>

</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Imię</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">Nick</th>
      <th scope="col">Wiek</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= dane_usera.imie %></td>
      <td><%= dane_usera.nazwisko %></td>
      <td><%= dane_usera.nick %></td>
      <td><%= dane_usera.wiek %></td>
    </tr>
  </tbody>
</table>